:root {
  --textColor: whitesmoke;
  
  background-color: rgba(45, 45, 90, 1);
  color: var(--textColor);
}

a {
  color: var(--textColor);
  text-decoration: none;
}

/*.appRoot {
  border: none;
}*/

.appBody {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}