.headerRoot {
  border: 5px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headerRoot > * {
  background-color: #252525;
  border: 5px solid blue;
  display: flex;
  flex: 0 0 15%;
  justify-content: center;
}
.headerRoot a {
  color: white;
  font-size: large;
  text-decoration: none;
}
.headerRoot a:hover {
  background-color: white;
  color: black;
}