.headerRootBorder {
  border: 5px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headerRootBorder > * {
  background-color: rgba(70, 65, 125, 1);
  border: 5px solid blue;
  display: flex;
  flex: 0 0 15%;
  justify-content: center;
}
.headerRootBorder a {
  font-size: large;
}
.headerRootBorder a:hover {
  background-color: rgba(85, 75, 150, 1);
}