h1 {
  font-size: 48pt;
  text-align: center;
}

.homeRoot {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
.homeRoot > * {
  border: none;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
.homeRoot h1 {
  font-size: 48pt;
  text-align: center;
}

.featuredGames {
  border: none;
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;
}
.featuredGames > * {
  border: none;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

.featuredGame {
  align-items: center;
  border: none;
  display: flex;
  flex: 0 0 60%;
  justify-content: center;
}