/* First layer of wrapping, includes every element of homeRoot */
.homeRootBorder {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
.homeRootBorder > * {
  border: 5px solid blue;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
/* Styling for the main header of the page.
   Must be large since it is essentially the "title" of the website. */
.homeRootBorder h1 {
  font-size: 48pt;
  text-align: center;
}

/* Second layer of wrapping, contains each game in the featured games list. */
.featuredGamesListBorder {
  border: 5px solid red;
  display: flex;
  flex: 0 0 15%;
  flex-wrap: wrap;
}
.featuredGamesListBorder > * {
  border: 5px solid green;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
/* Styling for the button containing the game's logo.
   Size must equal 1/x%, where x = number of games. */
.featuredGamesListBorder button {
  background: none;
  width: 33%;
  height: 33%;
}
/* Styling to maintain the aspect ratio of the game's logo. */
.featuredGamesListBorder img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/* Styling for the spotlight game. */
.showcasedGameBorder {
  align-items: center;
  border: 5px solid red;
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
}
/* Styling for the anchor tags within the Link tag that contains the logo. */
.showcasedGameBorder a {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
/* Styling to maintain the aspect ratio of the game's logo. */
.showcasedGameBorder img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}