h1 {
  font-size: 48pt;
  text-align: center;
}

.homeRoot {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
.homeRoot > * {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
.homeRoot h1 {
  font-size: 48pt;
  text-align: center;
}

.featuredGames {
  height: 40vh;
}

.featuredGamesList {
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;
}
.featuredGamesList > * {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
.featuredGamesList button {
  background: none;
  border: none;
  width: 33%;
  height: 33%;
}
.featuredGamesList img {
  height: 100%; 
  object-fit: contain;
  width: 100%;
}

.showcasedGame {
  align-items: center;
  border: none;
  display: flex;
  flex: 0 0 60%;
  justify-content: center;
}
.showcasedGame img {
  height: 100%; 
  object-fit: contain;
  width: 100%;
}