h1 {
  font-size: 48pt;
  text-align: center;
}

.homeRootBorder {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
.homeRootBorder > * {
  border: 5px solid blue;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
.homeRootBorder h1 {
  font-size: 48pt;
  text-align: center;
}

.featuredGamesBorder {
  border: 5px solid red;
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;
}
.featuredGamesBorder > * {
  border: 5px solid green;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

.featuredGameBorder {
  align-items: center;
  border: 5px solid red;
  display: flex;
  flex: 0 0 60%;
  justify-content: center;
}